{{extend 'layout.html'}}
{{from datetime import datetime,timedelta}}
{{startdatetime = datetime.now() + timedelta(-30)}}
{{startdate = str(startdatetime.date())}}
{{enddate = str(datetime.now().date())}}
{{fulldate = startdate + " to " + enddate}}

<style>
    .top-bar-bg {
        background-color: #3977a1;
    }

    .nav {
        margin: 0;
    }

    .nav li a {
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        padding: 13px 20px;
    }

    .nav-tabs>li>a {
        border-radius: 0 !important;
        border: none !important;
    }

    .nav>.active>a,
    .nav>li>a:hover,
    .nav>li>a:focus {
        background-color: #245461 !important;
        color: #ffffff !important;
    }

    .tab-content .card {
        margin-top: 10px;
    }

    .datatable-head-filter {
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (max-width: 768px) {
        .datatable-head-filter {
            flex-direction: column;
        }
        .nav-tabs > li {
            width: 100%;
            float: unset;
            text-align: center;
        }
    }
</style>

{{ if msge: }}
    <div id='message' class="alert alert-warning" role="alert" style="z-index: 1;position: absolute; left: 50%; transform: translateX(-50%); background-color: #ffe2a2; color: #524125;">
        {{=msge}}
    </div>
{{ pass }}

<div id="page-title">
    <h2>Holiday And Leave Management</h2>
</div>


<!-- In Page Navigation Bar -->
<div id="page-navigation">
    <ul class="nav nav-tabs top-bar-bg" role="tablist">
        <li role="presentation" class="{{ ='active' if active_tab == 'leave_type' else '' }}"><a href="#leave_type" aria-controls="profile" role="tab" data-toggle="tab">Leave Type</a></li>
        <li role="presentation"><a href="#add-leave-type" aria-controls="messages" role="tab" data-toggle="tab">Add Leave Type</a></li>
        <li role="presentation" class="{{ ='active' if active_tab == 'assigned_yearly_leave' else '' }}"><a href="#assigned_yearly_leave" aria-controls="home" role="tab" data-toggle="tab">Assigned Yearly Leave</a></li>
        <li role="presentation"><a href="#add-assigned-yearly-leave" aria-controls="settings" role="tab" data-toggle="tab">Add Assigned Yearly Leave</a></li>
        
    </ul>

    <div class="tab-content" style="margin-top: 10px;">
        <div id="leave_type" class="tab-pane fade {{ ='in active' if active_tab == 'leave_type' else '' }}">
            <div class="panel">
                <div class="panel-body">
                    <table id="device-status2" class="table table-striped leave-table dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>No of Leave</th>
                                <th>Payment Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for type in leave_type_list:}}
                            <tr>
                                <td></td>
                                <td>{{=type[1]}}</td>
                                <td>{{=type[2]}}</td>
                               
                                <td>
                                    {{if type[3]=='paid':}}
                                        Paid
                                    {{else:}}
                                        Unpaid
                                    {{pass}}
                                </td>
                                <td>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-sm" onclick="get_type_info({{=type[0] }})">Edit</button>
                                        </div>
                                        <div class="col-sm-4">
                                            <form class="form-inline" enctype="multipart/form-data" method="post" action="">
                                                <input type="hidden" value="{{=type[0]}}" name="id" />
                                                <button class="form-control btn btn-warning" onclick="return confirm('Are you sure to delete this data?')" type="submit" value="Delete" name="Submit_LT_Del">Delete</button>
                                            </form>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        
        <div id="add-leave-type" class="tab-pane fade">
            <div class="panel">
                <div class="panel-body">
                    <form action="" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="form-group col-sm-3" id="cid__row">
                                <label for="cname" id="cname__label">Name</label>
                                <input class="string form-control" id="cname" name="cname" value="" type="text" required>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-3" id="cid__row">
                                <label for="cleave" id="cleave__label">No of leave</label>
                                <input class="string form-control" id="cleave" name="cleave" value="" type="number">
                                <span class="help-block"></span>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="form-group col-md-5 id="student_holiday_pay">
                                <label for="cpay_status">Payment Status: *</label>
                                <select class="selectpicker" id="cpay_status" data-size="5" data-width="100%" name="cpay_status" required>
                                    <option value="paid">Paid</option>
                                    <option value="unpaid">Unpaid</option>
                                </select>
                            </div>
                        </div>
                       
                        <div class="row" id="submit_record__row2">
                            <div class="col-md-12">
                                <input class="btn btn-primary" value="Submit" type="submit" name="Submit_LT">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <!-- Edit shift model start -->
    <div class="modal fade " id="edit_leave_type" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Leave Type</h5>
                    <div class="row">
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" enctype="multipart/form-data" method="post">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="edit_type_id" name="edit_type_id" hidden>
                        </div>
                        

                        <div class="form-group">
                            <label class="form-control-label">Name:</label>
                            <input type="text" class="form-control" id="edit_type_name" name="edit_type_name" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">No of Leave:</label>
                            <input type="number" class="form-control" id="edit_no_of_leave" name="edit_no_of_leave">
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Payment Status:</label>
                             <select class="selectpicker" id="edit_pay_status" data-size="5" data-width="100%" name="edit_pay_status" required>
                                    <option value="paid">Paid</option>
                                    <option value="unpaid">Unpaid</option>
                             </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">EDIT CANCEL</button>
                            <input class="btn btn-primary" value="Submit" type="submit" name="Submit_edit_LT">
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Edit shift modal end -->

        <div id="assigned_yearly_leave" class="tab-pane fade {{ ='in active' if active_tab == 'assigned_yearly_leave' else '' }}">
            <div class="panel">
                <div class="panel-body">
                    <table id="device-status" class="table table-striped leave-table dt-responsive nowrap" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th>User</th>
                                <th>Leave Type</th>
                                <th>Leave Entitled</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{for role in leave_role_list:}}
                            <tr>
                                <td></td>
                                <td>{{=role[4]}}</td>
                                <td>{{=role[5]}}</td>
                                <td>{{=role[3]}}</td>

                                <td>
                                    <div class="col-sm-4">
                                            <button type="button" class="btn btn-primary btn-sm" onclick="get_yearly_leave({{=role[0] }})">Edit</button>
                                        </div>
                                    <div class="col-sm-4">
                                    <form class="form-inline" enctype="multipart/form-data" method="post" action="">
                                        <input type="hidden" value="{{=role[0]}}" name="id" />
                                        <button class="form-control btn btn-warning" onclick="return confirm('Are you sure to delete this data?')" type="submit" value="Delete" name="Submit_LR_Del">Delete</button>
                                    </form>
                                        </div>

                                </td>
                            </tr>
                            {{pass}}
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        
        <div id="add-assigned-yearly-leave" class="tab-pane fade">
            <div class="panel">
                <div class="panel-body">
                    <form action="" enctype="multipart/form-data" method="post">
                        <div class="row">
                            <div class="form-group col-md-3">
                                    <label for="class_name">Leave Type: </label>
                                    <select class="selectpicker selectpicker_class_name form-control" title="Select Leave Type" name="cLeaveType" id="cLeaveType">
                                        {{for u in leave_type:}}
                                        <option value="{{=u[0]}}">{{=u[1]}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="leave_type">Choose Assign Type: *</label>
                                <select class="selectpicker selectpicker_class_name form-control" title="Select Assign Type" name="cassignType" id="cassignType" onchange="handleSelectionChange()" required>
                                    <option>Select Assign Type</option>
                                    <option value="0">Department Wise</option>
                                    <option value="1">Designation wise</option>
                                    <option value="2">Individual</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" id="department_row">
                            <div class="form-group col-md-3">
                                    <label for="class_name">Department: </label>
                                    <select class="selectpicker selectpicker_class_name form-control" title="Select Department" name="cclass" id="cclass">
                                        <option value="all">All</option>
                                        {{for u in classes:}}
                                        <option value="{{=u[0]}}">{{=u[1]}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                        </div>


                        <div class="row" id="designation_row">
                            <div class="form-group col-md-3">
                                    <label for="class_name">Designations: </label>
                                    <select class="selectpicker selectpicker_class_name form-control" title="Select Designation" name="cdesignation" id="cdesignation">
                                        <option value="all">All</option>
                                        {{for u in designations:}}
                                        <option value="{{=u[0]}}">{{=u[1]}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                        </div>
                        

                        <div class="row" id="users_row">
                            <div class="form-group col-md-3">
                                    <label for="class_name">Users: </label>
                                    <select class="selectpicker selectpicker_class_name form-control" title="Select Users" name="cuser" id="cuser">
                                        <option value="all">All</option>
                                        {{for u in users:}}
                                        <option value="{{=u[0]}}">{{=u[2]}}</option>
                                        {{pass}}
                                    </select>
                                </div>
                        </div>
                        
                         <div class="row">
                            <div class="form-group col-sm-3" id="cid__row">
                                <label for="cleave" id="cleave__label">No of leave</label>
                                <input class="string form-control" id="cleave" name="cleave" value="" type="number" required>
                                <span class="help-block"></span>
                            </div>
                        </div>
                       
                       
                        <div class="row" id="submit_record__row2">
                            <div class="col-md-12">
                                <input class="btn btn-primary" value="Submit" type="submit" name="Submit_LR">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Edit Assigned yearly leave start -->
    <div class="modal fade " id="edit_assigned_yearly_leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Assigned Yearly Leave</h5>
                    <div class="row">
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" enctype="multipart/form-data" method="post">
                        
                        <input type="hidden" class="form-control" id="edit_ayl_id" name="edit_ayl_id" hidden>
                        <div class="form-group">
                            <label class="form-label">Leave Type: </label>
                            <select data-live-search="true" class="form-control" name="edit_ayl_leave_type" id="edit_ayl_leave_type">
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label">Users: </label>
                                <select data-live-search="true" class="form-control" name="edit_ayl_users" id="edit_ayl_users">
                                </select>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label">Leave Entitled:</label>
                            <input type="number" class="form-control" id="edit_leave_entitled" name="edit_leave_entitled">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">EDIT CANCEL</button>
                            <input class="btn btn-primary" value="Submit" type="submit" name="Submit_edit_ayl">
                        </div>

                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Edit Assigned yearly leave modal end -->

    </div>
</div>

<script>
$(document).ready(function(){
    $(".navtabs a").click(function(){
        $(this).tab('show');
    });
});
</script>

<!-- field show or hide based on assign type selection -->
<script>
    function handleSelectionChange() 
      {
        var selection = document.getElementById("cassignType").value;
        var departmentField = document.getElementById("department_row");
        var designationField = document.getElementById("designation_row");
        var userField = document.getElementById("users_row");


        // Check the selected value and hide/show the target field accordingly
        if (selection === "0") {
            departmentField.style.display = "block";
            designationField.style.display = "none";
            userField.style.display = "none";

        }
        
        else if (selection === "1") {
            departmentField.style.display = "none";
            designationField.style.display = "block";
            userField.style.display = "none";

        }
        else if (selection === "2") {
            departmentField.style.display = "none";
            designationField.style.display = "none";
            userField.style.display = "block";

        }else {
            departmentField.style.display = "none";
            designationField.style.display = "none";
            userField.style.display = "none";
        }
    }

</script>


<script type="text/javascript">
    $(document).ready(function() {
    $('#device-status2').DataTable( {
        responsive:     true,
        paging:         true,
        lengthMenu: [ 10, 25, 50, 75, 100 ],
        // dom: 'lfBrtip',
        dom: '<"datatable-head-filter"lBf><rtip>',
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ],
        columnDefs: [
        {
            className: 'control',
            responsivePriority: 1,
            orderable: false,
            targets:   0
        },
        {
            responsivePriority: 2,
            targets: 1
        },
        {
            responsivePriority: 3,
            targets: -1
        },
        {
            responsivePriority: 4,
            targets: -2
        },
        {
            responsivePriority: 5,
            targets: -3
        }
        ],
        order: [ 2, 'asc' ]
    } );
    $('#device-status').DataTable( {
        responsive:     true,
        paging:         true,
        lengthMenu: [ 10, 25, 50, 75, 100 ],
        // dom: 'lfBrtip',
        dom: '<"datatable-head-filter"lBf><rtip>',
        buttons: [
            'copy', 'csv', 'excel', 'print'
        ],
        responsive: {
            details: {
                type: 'column',
                target: 'tr'
            }
        },
        columnDefs: [
        {
            className: 'control',
            responsivePriority: 1,
            orderable: false,
            targets:   0
        },
        {
            responsivePriority: 2,
            targets: 1
        },
        {
            responsivePriority: 3,
            targets: -1
        },
        {
            responsivePriority: 4,
            targets: -2
        }
        ],
        order: [ 1, 'asc' ]
    } );
    } );
</script>

<!-- Include jQuery -->
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> -->

<script>
    //When the page has loaded.
    $(document).ready(function () {
        $('#message').delay(5000);
        $('#message').fadeOut(1000);
    });
</script>

<script type="text/javascript">
    $(function () {
        "use strict";
        $("#leave_date_range, #holiday_date_range, #holiday_date_search, #leave_date_search").daterangepicker({
            startDate: "{{ =enddate }}",
            endDate: "{{ =enddate }}",
            opens: "left",
            buttonClasses: ["btn btn-default"],
            applyClass: "small bg-green",
            cancelClass: "small ui-state-default",
            format: "YYYY-MM-DD",
            separator: " to ",
            locale: {
                format: "YYYY-MM-DD",
                separator: " to "
            },
            ranges: {
                Today: [moment(), moment()],
                Yesterday: [moment().subtract("days", 1), moment().subtract("days", 1)],
                "Last 7 Days": [moment().subtract("days", 6), moment()],
                "Last 30 Days": [moment().subtract("days", 29), moment()],
                "This Month": [moment().startOf("month"), moment().endOf("month")],
                "Last Month": [moment().subtract("month", 1).startOf("month"), moment().subtract("month", 1).endOf("month")]
            }
        })
    });
</script>

<script>
    function get_type_info(id) {
        $.ajax({
            method: "post",
            url: "{{=URL('/get_type_info')}}",
            data: { c_id: id },
            dataType: "json",
            success: function (reply) {
                // console.log("Request Backed with id number : " + reply.id);
                $("#edit_type_id").val(reply.leave_type[0][0]);
                $("#edit_type_name").val(reply.leave_type[0][1]);
                $("#edit_no_of_leave").val(reply.leave_type[0][2]);

                var pay_status= reply.leave_type[0][3]

                $('#edit_pay_status').val(pay_status).change();

                $("#edit_leave_type").modal("show");
            },
            error: function () {
                console.log("Fail to Catch");
                alert("Fail to catch");
            }
        });

    }

   function get_yearly_leave(id) {
        $.ajax({
            method: "post",
            url: "{{=URL('/get_yearly_leave')}}",
            data: { c_id: id },
            dataType: "json",
            success: function (reply) {
                $("#edit_ayl_id").val(reply.yearly_leave[0][0]);
                $("#edit_leave_entitled").val(reply.yearly_leave[0][2]);

                 // Clear existing options in the select
                $('#edit_ayl_leave_type').empty();
                
                // get leave type id from database
                var defaultValue = reply.yearly_leave[0][3]; 

                // set data in leave type selection and auto selected value from database
                for (var i = 0; i < reply.leave_type.length; i++) {
                    var optionValue = reply.leave_type[i][0];
                    var optionText = reply.leave_type[i][1];

                    var isSelected = optionValue === defaultValue;

                    $('#edit_ayl_leave_type').append('<option value="' + optionValue + '"' + (isSelected ? ' selected' : '') + '>' + optionText + '</option>');
                }

                 // Clear existing options in the select
                $('#edit_ayl_users').empty();

                  // get rams user id from database
                var user_defaultValue = reply.yearly_leave[0][1]; 

                // set data in users selection and auto selected value from database
                for (var i = 0; i < reply.users.length; i++) {
                    var user_optionValue = reply.users[i][0];
                    var user_optionText = reply.users[i][2];

                    var user_isSelected = user_optionValue === user_defaultValue;

                    $('#edit_ayl_users').append('<option value="' + user_optionValue + '"' + (user_isSelected ? ' selected' : '') + '>' + user_optionText + '</option>');
                }


                $("#edit_assigned_yearly_leave").modal("show");
            },
            error: function () {
                console.log("error");
                alert("Fail to catch");
            }
        });

    }

</script>

